:root {
  --white: #fff;
  --black: #0f1114;
  --pink1: #ffa7c4;
  --pink2: #ff7597;
  --blue1: #0072bb;
  --yellow1: #efbb35;
  --yellow2: rgb(245, 222, 179);
  --red1: #c62828;
}

$palette: (
  light: (
    --bg1: #fff,
    --bg2: #fafafa,
    --bg3: #fcfcfc,
    --bg4: #f8f8f8,
    --invert1: #282c35,
    --invert2: #f9ffee,
    --text-color: #555,
    --link: var(--text-color),
    --post-content-link: #d32f2f,
    --subtle-top1: #9c1de7,
    --subtle-top2: #3b5eff,
    --subtle-h1-1: #482ff7,
    --subtle-h1-2: #18A4E0,
    --subtle-h1-3: #581b98,
    --header-h2: #28c7fa,
    --hover-top: #00b0ff,
    --hover-top-icon: #000000,
    --post-card-hover: var(--black),
    --category-border: #75757550,
    --tag-border: #21212160,
    --warning: #e75b7e,
    --info: #6200ee
  ),
  dark: (
    --bg1: #282c35,
    --bg2: #181c22,
    --bg3: #1a1d24,
    --bg4: #000,
    --invert1: #f9ffee,
    --invert2: #282c35,
    --text-color: #f9ffee,
    --link: var(--yellow2),
    --post-content-link: var(--yellow2),
    --subtle-top1: #9c1de7,
    --subtle-top2: #3b5eff,
    --subtle-h1-1: #a7ffeb,
    --subtle-h1-2: #1de9b6,
    --subtle-h1-3: #00bfa5,
    --header-h2: #ff7597,
    --hover-top: #00b0ff,
    --hover-top-icon: #ffcf44,
    --post-card-hover: var(--text-color),
    --category-border: var(--yellow1),
    --tag-border: #03dac6,
    --warning: #ffc400,
    --info: #009688
  )
);
