.post-preview {
  background: #282c35;
  color: #f9ffee;
}

.post-preview .post-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post-preview .post-head .post-title {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  font-size: 2.5rem;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.post-preview .post-head .post-subtitle {
  margin: 0.75rem 0;
}

.post-preview .post-category {
  -webkit-box-shadow: 0 0 0.75rem #757575;
          box-shadow: 0 0 0.75rem #757575;
}

.post-preview .post-category:hover {
  color: #282c35;
  background: #f9ffee;
  -webkit-box-shadow: 0 0 1.25rem #757575;
          box-shadow: 0 0 1.25rem #757575;
}

.post-preview .post-tags > li > a {
  -webkit-box-shadow: 0 0 0.5rem #03dac6;
          box-shadow: 0 0 0.5rem #03dac6;
}

.post-preview .post-tags > li > a:hover {
  color: #282c35;
  background: #f9ffee;
  -webkit-box-shadow: 0 0 1.25rem #03dac6;
          box-shadow: 0 0 1.25rem #03dac6;
}

.post-preview .markdowm-body {
  color: #f9ffee;
}

.post-preview .markdowm-body > p:first-of-type {
  border-left: 4px solid #ff7597;
}

.post-preview .markdowm-body h2 {
  color: #ff7597;
}

.post-preview .markdowm-body h2:after {
  background: -webkit-gradient(linear, left top, right top, from(#ff7597), to(#282c35));
  background: linear-gradient(to right, #ff7597, #282c35);
}

.post-preview .markdowm-body a {
  color: wheat;
}

.post-preview .markdowm-body ol > li::before {
  color: #c62828;
}

.post-preview .markdowm-body ul > li::before {
  border: 6px solid #ff7597;
}

.post-preview .markdowm-body table > thead > tr > th {
  border-bottom: 3px solid wheat;
  font-weight: 700;
}

.post-preview .markdowm-body table > tbody + tbody {
  border-top: 3px solid wheat;
}

.post-preview .markdowm-body table > tbody > tr > td {
  border-bottom: 1px solid wheat;
}

.markdowm-body {
  font-size: 1.5rem;
  color: var(--text-color);
  word-wrap: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.markdowm-body > p:first-of-type {
  margin-bottom: 1em;
  margin-top: 1.9em;
  border-left: 4px solid var(--pink2);
  padding-left: 0.8em;
  text-align: justify;
}

.markdowm-body p {
  margin-bottom: 1em;
}

.markdowm-body a {
  color: var(--post-content-link);
}

.markdowm-body a:hover {
  text-decoration: underline;
}

.markdowm-body video {
  max-width: 100%;
}

.markdowm-body pre {
  overflow: auto;
}

.markdowm-body code[class="language-text"] {
  color: var(--text-color);
  background-color: var(--inline-code-bg);
}

.markdowm-body ol,
.markdowm-body ul {
  padding-left: 2em;
}

.markdowm-body > ol,
.markdowm-body > ul {
  padding-left: 1em;
}

.markdowm-body ol {
  counter-reset: ol-counter;
  list-style-position: outside;
  text-indent: -1em;
}

.markdowm-body ol > li {
  counter-increment: ol-counter;
}

.markdowm-body ol > li p {
  display: inline-block;
}

.markdowm-body ol > li::before {
  content: counter(ol-counter) ". ";
  color: var(--red1);
  font-weight: 700;
}

.markdowm-body blockquote p {
  margin-bottom: 1em;
  margin-top: 1.9em;
  border-left: 4px solid var(--blue1);
  padding-left: 0.8em;
  text-align: justify;
}

.markdowm-body .gatsby-resp-image-wrapper {
  margin: 1em 0;
}

.markdowm-body ul > li::before {
  content: "";
  -webkit-transform: translate(-1em, 0);
          transform: translate(-1em, 0);
  margin-top: 0.5em;
  position: absolute;
  border: 6px solid var(--pink2);
}

.markdowm-body table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.markdowm-body table > thead > tr > th,
.markdowm-body table > tbody > tr > th,
.markdowm-body table > tfoot > tr > th {
  text-align: left;
  padding: 10px;
  line-height: 1.429;
}

.markdowm-body table > thead > tr > td,
.markdowm-body table > tbody > tr > td,
.markdowm-body table > tfoot > tr > td {
  padding: 10px;
  line-height: 1.429;
}

.markdowm-body table > thead > tr > th {
  border-bottom: 3px solid var(--yellow2);
  font-weight: 700;
}

.markdowm-body table > tbody + tbody {
  border-top: 3px solid var(--yellow2);
}

.markdowm-body table > tbody > tr > td {
  border-bottom: 1px solid var(--yellow2);
}

.markdowm-body .custom-block {
  position: relative;
  margin: 1.25rem 0;
  padding: 0.8em 1em;
  text-align: center;
  line-height: 1.2;
  background: rgba(247, 168, 139, 0.15);
  border-left: 4px solid rgba(247, 168, 139, 0.45);
  clear: both;
}

.markdowm-body .custom-block::before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  font-weight: 700;
  font-size: 1.4rem;
  width: 35px;
  height: 35px;
  left: -1.2rem;
  top: -1rem;
}

@media only screen and (max-width: 767.98px) {
  .markdowm-body .custom-block::before {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 2rem;
    left: -1.6rem;
    top: -1.5rem;
  }
}

.markdowm-body .custom-block.warning:before {
  content: "!";
  color: var(--bg1);
  background: var(--warning);
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.markdowm-body .custom-block.info:before {
  content: "i";
  color: var(--bg1);
  background: var(--info);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.markdowm-body .custom-block .custom-block-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.markdowm-body .custom-block .custom-block-body p {
  margin-bottom: 0;
}

.gatsby-highlight {
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
}

.gatsby-highlight pre[class*="language-"] {
  padding: 0;
  min-width: 100%;
  /* 2 */
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em;
}

.gatsby-highlight .gatsby-highlight-code-line {
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, rgba(153, 122, 102, 0.1)), to(rgba(153, 122, 102, 0)));
  background: linear-gradient(to right, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #fff899;
}
